<a href="https://colab.research.google.com/github/chaosdomok/data-science-bootcamp/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.__version__

'1.4.4'

Podsraowe struktury danych: pd.Series

In [ ]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [ ]:
s = pd.Series(data=[3, 2, 4,6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [ ]:
s = pd.Series(data=[3., 2, 4,6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
import numpy as np

np.nan

nan

In [ ]:
s = pd.Series(data=[3., np.nan, 4,6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [ ]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [ ]:
s.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [ ]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [ ]:
s.dtypes

dtype('O')

In [ ]:
s.shape

(10,)

In [ ]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price['CD Projekt']

60

In [ ]:
price[1]

60

In [ ]:
price.count()

3

In [ ]:
price.value_counts(dropna=False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [ ]:
price.sum()

2160.0

In [ ]:
price.min()

60.0

In [ ]:
price.max()

1900.0

In [ ]:
price.std()

1024.3046421841502

In [ ]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.describe().T

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [ ]:
price.nsmallest(1)

CD Projekt    60.0
dtype: float64

In [ ]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [ ]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln = price.apply(lambda x: x * 3.8)

In [ ]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

Podstawowe struktur danych: pd.DataFrame

In [ ]:
df = pd.DataFrame(data=[12, 12, 32], index=['frist', 'second', 'third'], columns=['col_1'])
df

        col_1
frist      12
second     12
third      32

In [ ]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playwa']})
df

       WIG20  mWIG40
0  PKN ORLEN   Amica
1     PKO BP  Playwa

In [ ]:
df = pd.DataFrame(data=[[10, 12, 32], [23, 12, 10]], index=['frist', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
frist      10     12     32
second     23     12     10

In [ ]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [ ]:
df.index

Index(['frist', 'second'], dtype='object')

In [ ]:
df.values

array([[10, 12, 32],
       [23, 12, 10]])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, frist to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [ ]:
df.describe()

           col_1  col_2      col_3
count   2.000000    2.0   2.000000
mean   16.500000   12.0  21.000000
std     9.192388    0.0  15.556349
min    10.000000   12.0  10.000000
25%    13.250000   12.0  15.500000
50%    16.500000   12.0  21.000000
75%    19.750000   12.0  26.500000
max    23.000000   12.0  32.000000

In [ ]:
df.describe().T

       count  mean        std   min    25%   50%    75%   max
col_1    2.0  16.5   9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0   0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  21.0  15.556349  10.0  15.50  21.0  26.50  32.0

In [ ]:
df

        col_1  col_2  col_3
frist      10     12     32
second     23     12     10

In [ ]:
df['col_1']

frist     10
second    23
Name: col_1, dtype: int64

In [ ]:
type(df['col_1'])

pandas.core.series.Series

In [ ]:
df[['col_1']]

        col_1
frist      10
second     23

In [ ]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [ ]:
df.columns = ['a', 'b', 'c']
df

         a   b   c
frist   10  12  32
second  23  12  10

In [ ]:
df.a

frist     10
second    23
Name: a, dtype: int64

In [ ]:
df['d'] = df.a + df.c
df

         a   b   c   d
frist   10  12  32  42
second  23  12  10  33

In [ ]:
df = pd.DataFrame(data=[[10, 12, 32], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     32
second     23     12     10

In [ ]:
df.loc['first']

col_1    10
col_2    12
col_3    32
Name: first, dtype: int64

In [ ]:
df.iloc[0]

col_1    10
col_2    12
col_3    32
Name: first, dtype: int64

In [ ]:
df.loc['first', 'col_2']

12

In [ ]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64